*.pyc
tool/*.pyc
debug.log
myprogram.prof
endpoint.proto
debug.log
program.prof
python-probe.log
.venvBuildBinary/*
dist/*
build/*
face_tracking/__pycache__/*
.vscode/__pycache__/preview/*
__pycache__/*
__pycache__/*.pyc
__pycache__/
test/__pycache__/__init__.cpython-38.pyc
test/__pycache__/test_BirdDog_TrackingModule.cpython-38-pytest-6.2.2.pyc
test/__pycache__/test_encoding_speed.cpython-38-pytest-6.2.2.pyc
test/__pycache__/test_fastapi_websocket_endpoint.cpython-38-pytest-6.2.2.pyc
test/__pycache__/test_pipe_endpoint.cpython-38-pytest-6.2.2.pyc
test/__pycache__/test_qt_websocket_client.cpython-38-pytest-6.2.2.pyc
test/__pycache__/test_set_tracking_parameters.cpython-38-pytest-6.2.2.pyc
test/__pycache__/test_tracker_secondary.cpython-38-pytest-6.2.2.pyc
test/__pycache__/test_tracker.cpython-38-pytest-6.2.2.pyc
__pycache__/TrackingServer_FastAPI.cpython-38.pyc
__pycache__/cli.cpython-38.pyc
__pycache__/BirdDog_TrackingModule.cpython-38.pyc
face_tracking/__pycache__/objcenter.cpython-38.pyc
test/__pycache__/test_qt_websocket_client.cpython-38.pyc
ProjectsNDI_FaceTracktestout_report.xml
ProjectsNDI_FaceTracktestout_report.xml
ProjectsNDI_FaceTracktestout_report.xml
test/__pycache__/test_BirdDog_TrackingModule.cpython-38-pytest-6.2.1.pyc
test/__pycache__/test_encoding_speed.cpython-38-pytest-6.2.1.pyc
test/__pycache__/test_fastapi_websocket_endpoint.cpython-38-pytest-6.2.1.pyc
test/__pycache__/test_pipe_endpoint.cpython-38-pytest-6.2.1.pyc
test/__pycache__/test_qt_websocket_client.cpython-38-pytest-6.2.1.pyc
test/__pycache__/test_set_tracking_parameters.cpython-38-pytest-6.2.1.pyc
test/__pycache__/test_tracker_secondary.cpython-38-pytest-6.2.1.pyc
test/__pycache__/test_tracker.cpython-38-pytest-6.2.1.pyc
tool/__pycache__/config.cpython-38.pyc
tool/__pycache__/payloads.cpython-38.pyc
tool/__pycache__/pipeclient.cpython-38.pyc
tool/__pycache__/torch_utils.cpython-38.pyc
routers/__pycache__/websockets.cpython-38.pyc
routers/__pycache__/__init__.cpython-38.pyc
face_tracking/__pycache__/camera_control.cpython-38.pyc
__pycache__/TrackingServer_FastAPI.cpython-38.pyc
__pycache__/PipeClient.cpython-38.pyc
__pycache__/BirdDog_TrackingModule.cpython-38.pyc
ProjectsNDI_FaceTracktestout_report.xml
__pycache__/BirdDog_TrackingModule.cpython-38.pyc
__pycache__/ndi_camera.cpython-38.pyc
__pycache__/PipeClient.cpython-38.pyc
__pycache__/pyinstaller_gui.cpython-38.pyc
__pycache__/pyinstaller_server.cpython-38.pyc
test/
__pycache__/TrackingGUI.cpython-38.pyc
__pycache__/TrackingServer_FastAPI.cpython-38.pyc
*.pyc
__pycache__/BirdDog_TrackingModule.cpython-38.pyc
__pycache__/ndi_camera.cpython-38.pyc
__pycache__/PipeClient.cpython-38.pyc
__pycache__/TrackingServer_FastAPI.cpython-38.pyc
face_tracking/__pycache__/__init__.cpython-38.pyc
face_tracking/__pycache__/camera_control.cpython-38.pyc
face_tracking/__pycache__/objcenter.cpython-38.pyc
facenet_pytorch/__pycache__/__init__.cpython-38.pyc
facenet_pytorch/models/__pycache__/inception_resnet_v1.cpython-38.pyc
facenet_pytorch/models/__pycache__/mtcnn.cpython-38.pyc
facenet_pytorch/models/utils/__pycache__/detect_face.cpython-38.pyc
facenet_pytorch/models/utils/__pycache__/training.cpython-38.pyc
__pycache__/config.cpython-37.pyc
__pycache__/config.cpython-38.pyc
__pycache__/ndi_camera.cpython-38.pyc
datasets/
wandb/
runs/*
runs/
runs/detect/*
models/backbones/*
models/osnet_x0_25_msmt17.pth
tool/pyqtkeybind/win/__pycache__/*
tool/pyqtkeybind/__pycache__/*