altgraph==0.17
argon2-cffi==20.1.0
astroid==2.3.3
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bitmap==0.0.7
bleach==3.2.1
boto3==1.16.25
botocore==1.19.25
certifi==2020.4.5.2
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cloudevents==0.3.0
colorama==0.4.3
configparser==5.0.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dlib==19.20.0
entrypoints==0.3
facenet-pytorch==2.2.9
functions-framework==2.0.0
future==0.18.2
gunicorn==20.0.4
idna==2.9
importlib-metadata==3.1.0
imutils==0.5.3
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.15.1
jsonschema==3.2.0
keyboard==0.13.5
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
licensing==0.26
MarkupSafe==1.1.1
mccabe==0.6.1
metaflow==2.2.5
mistune==0.8.4
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
numpy==1.18.5
opencv-contrib-python==3.4.9.33
packaging==20.4
pandocfilters==1.4.3
parso==0.7.1
pathlib==1.0.1
pathtools==0.1.2
pefile==2019.4.18
pickleshare==0.7.5
Pillow==7.1.2
prometheus-client==0.9.0
prompt-toolkit==3.0.8
ptvsd==4.3.2
pycparser==2.20
Pygments==2.7.2
PyInstaller==3.6
pylint==2.4.4
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyrsistent==0.17.3
python-dateutil==2.8.1
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==20.0.0
qtconsole==5.0.1
QtPy==1.9.0
requests==2.24.0
rope==0.17.0
s3transfer==0.3.3
scikit-learn==0.23.1
scipy==1.4.1
Send2Trash==1.5.0
six==1.15.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.1
traitlets==5.0.5
typed-ast==1.4.1
urllib3==1.25.9
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==3.4.0
